body {
	background-color: #79b8d9;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 105%;
	padding: 0;
	margin: 0;
}
body#body-about {
	background-color: #9bc9e1;
}
div.body {
	margin: auto;
	width: 300px;
}
div.h1 {
	margin: auto;
	display: table;
	background-color: #fff;
	border-collapse: collapse;
	border: 0;
	padding: 0;
}
h1 {
	font-weight: normal;
	font-size: 200%;
	padding: 10px 21px;
	margin: 0;
	color: #79b8d9; 
}
a {
	text-decoration: none;
}
#body-home #div-about {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
#body-home #div-about a {
	color: #009;
} 
#body-home #div-selectedUniversity {
	width: 100%;
	margin-top: 80px;
	text-align: center;
	overflow: hidden;
	font-style: italic;
}
#body-home #div-choisir {
	margin-top: 50px;
	text-align: center;
	color: #fff;
}
#body-home #div-choisir a,
#body-about #div-fetchNow a,
#body-about #div-ok a {
	color: #fff;
}
a:active,
#body-home #div-choisir a:active,
#body-about #div-fetchNow a:active,
#body-about #div-ok a:active {
	color: #0f0;
}
#body-about #div-info {
	background-color: #fff;
	opacity: 0.8;
	padding: 10px;
	font-size: 75%;
	margin-top: 20px;
}
#body-about #div-lastFetchedAt {
	font-size: 75%;
	text-align: center;
	margin-top: 20px;
}
#body-about #div-fetchNow {
	text-align: center;
	margin-top: 14px;
	visibility: hidden;
}
#body-about #div-ok {
	text-align: center;
	margin-top: 10px;	
}
