/*Variables*/
/*Mixins*/
html {
  height: 100%; }

body {
  background-image: url(../img/bg-pattern.jpg);
  color: #fff;
  height: 100%;
  overflow-x: hidden; }

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  .mask.show {
    display: block; }

.main-wrap {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.content-wrap {
  padding: 0 0 15px;
  color: #fff; }

.no-pad {
  padding: 0; }

.container {
  padding: 0; }

h3 {
  padding: 10px 15px;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 600; }

p {
  font-size: 0.9em;
  font-family: 'Exo', sans-serif;
  font-weight: 600; }

.notifications-list {
  padding: 0 15px;
  list-style: none; }
  .notifications-list .list-item {
    padding-top: 10px;
    border-bottom: 1px solid #5e5257; }
    .notifications-list .list-item p {
      margin-bottom: 4px; }
  .notifications-list time {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 0.8em;
    color: #998b92;
    font-family: 'Exo', sans-serif;
    font-weight: 400; }

.article-list {
  list-style: none;
  padding: 0;
  background-color: #FFF;
  color: #000;
  margin: 0; }
  .yellow-section .article-list {
    border-left: 5px solid #ffb103; }
  .article-list a {
    text-decoration: none;
    color: initial;
    display: block;
    width: 100%; }
  .article-list .row {
    margin: 0; }
  .article-list .list-item {
    border-bottom: 1px solid #ffb103; }
    .article-list .list-item .img-wrap {
      max-width: 213px;
      width: 38%;
      display: inline-block;
      vertical-align: middle; }
    .article-list .list-item img {
      width: 100%; }
  .article-list .collapsed .description .icon {
    background-position: 0 -60px; }
  .article-list .description {
    position: relative;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    width: 60%; }
    .article-list .description .icon {
      top: 50%;
      margin-top: -15px;
      position: absolute;
      right: 0;
      background-position: -30px -60px; }
    .article-list .description h2 {
      margin: 0;
      font-size: 1.1em;
      color: #000;
      font-family: 'Exo', sans-serif;
      font-weight: 700; }
      @media only screen and (max-width: 480px) {
        .article-list .description h2 {
          font-size: 0.8em; } }
  .article-list .body {
    padding: 5px 15px;
    text-align: right; }
    .article-list .body p {
      text-align: left;
      font-size: 0.9em;
      font-family: 'Exo', sans-serif;
      font-weight: 300; }
    article .description .button, .article-list .body .button {
      background-color: #ffb103;
      color: #fff;
      text-transform: none;
      width: auto;
      display: inline-block;
      font-family: 'Exo', sans-serif;
      font-weight: 700;
      margin: 10px 0 10px; }
article .description .button { floar : right; }
.media-list {
  list-style: none;
  margin: 0;
  background-color: #FFF;
  padding: 15px 30px 5px 0; }
  .media-list a {
    text-decoration: none; }
  .media-list .list-item {
    background-color: #df6138;
    padding-left: 10px;
    padding-bottom: 1px;
    margin-bottom: 15px; }
    .media-list .list-item:last-child {
      margin-bottom: 0; }
  .media-list .title {
    padding: 10px;
    background-color: #FFF;
    margin: 0;
    font-size: 1em;
    color: #000;
    font-family: 'Exo', sans-serif;
    font-weight: 500; }

.bookmark-list {
  list-style: none;
  margin: 0;
  background-color: transparent;
  padding: 4px 0 0; }
  .bookmark-list .list-item {
    padding: 4px 0; }
    .bookmark-list .list-item a {
      display: inline-block;
      padding: 15px;
      background-color: #FFF;
      color: #573847;
      font-family: 'Exo', sans-serif;
      font-weight: 700; }

.biblio-list {
  list-style: none;
  border-left: 5px solid #df6138;
  margin: 0;
  background-color: #FFF;
  padding: 0; }
  .biblio-list a {
    text-decoration: none;
    display: block; }
  .biblio-list .list-item {
    padding: 10px;
    border-bottom: 1px solid #df6138; }
  .biblio-list .title {
    width: 88%;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    color: #000; }
    .biblio-list .title span {
      display: block; }
  .biblio-list .icon {
    background-color: #df6138;
    background-position: -30px -30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px; }

.link-wrap {
  width: 100%;
  text-align: right;
  text-decoration: none; }
  .link-wrap.bookmark {
    border-top: 6px solid #573847;
    padding-right: 30px; }
  .link-wrap.more {
    padding: 10px 0;
    background-color: #FFF;
    padding-right: 30px; }
    .link-wrap.more .link {
      display: inline-block;
      color: #4c303e;
      font-size: 0.8em;
      text-transform: uppercase;
      font-family: 'Exo', sans-serif;
      font-weight: 700; }
    .link-wrap.more .icon {
      background-position: -30px -270px;
      margin-left: -5px; }
  .link-wrap.edit .icon {
    background-position: 0 -270px;
    margin-left: -2px; }

.list-title {
  background-color: #ffb103;
  font-size: 1.2em;
  line-height: 1;
  padding: 14px 15px 10px;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  position: relative; }
  .orange-section .list-title {
    background-color: #df6138; }
    .orange-section .list-title.bookmark {
      background-color: #4b303d; }
    .orange-section .list-title .icon {
      background-position: 0 -102px; }
  .list-title .icon {
    position: absolute;
    top: 0;
    height: 15px;
    background-position: 0 -192px; }

.main-article {
  background-color: #FFF;
  color: #000; }
  .main-article .head-img:after {
    margin-left: 10%;
    content: '';
    background-image: url("../img/icons-set.png");
    margin-top: -12px;
    background-position: 0 -90px;
    width: 30px;
    height: 30px;
    display: block; }
  .main-article .description {
    padding: 0 15px; }
  .main-article .title {
    margin: 0;
    color: #ffb103;
    font-size: 1.2em;
    font-family: 'Exo', sans-serif;
    font-weight: 700; }
  .main-article p {
    margin: 5px 0 10px;
    font-size: 0.9em;
    font-family: 'Exo', sans-serif;
    font-weight: 300; }

time {
  font-style: italic;
  display: block;
  text-align: left;
  width: 100%;
  font-size: 0.8em;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  line-height: 1; }

.splash-header {
  width: 100%;
  position: relative; }
  .splash-header .header-image {
    width: 100%; }
    .splash-header .header-image img {
      width: 100%; }
  .splash-header .page-logo {
    position: absolute;
    width: 100%;
    top: 17%; }
    .splash-header .page-logo img {
      margin: 0 auto;
      max-width: 75%; }

.universite-form-wrap {
  width: 100%;
  padding: 10px 10px;
  background-image: url(../img/select-bg.jpg); }
  .universite-form-wrap #select-universite {
    width: 95%;
    margin: 0 auto;
    color: #fff; }
    .universite-form-wrap #select-universite .form-group {
      display: inline-block;
      width: 70%;
      vertical-align: bottom; }
    .universite-form-wrap #select-universite .button-wrap {
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      margin-bottom: 20px;
      width: 18%; }
    .universite-form-wrap #select-universite .confirm {
      display: inline-block;
      margin-bottom: 20px;
      padding: 10px 7px;
      border: 0;}
  .universite-form-wrap label {
    font-family: 'Exo', sans-serif;
    font-weight: 400; }

.icon {
  content: '';
  background-image: url("../img/icons-set.png");
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px; }
.show-search-long .icon.arrow {
	background-position:-30px -182px;
}
.category-icon .icon {
	content: normal;
	
}
.hasCustomSelect {
  z-index: 10; }

.customSelect {
  overflow: hidden;
  position: relative; }
  .customSelect:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 30px;
    height: 34px;
    background-color: #dadada;
    background-image: url(../img/icons-set.png);
    background-repeat: no-repeat; }

.splash-logos-wrap {
  width: 100%;
  text-align: center;
  background-image: url(../img/splash-logos-bg.jpg); }
  .splash-logos-wrap .logo-wrap {
    width: 29%;
    padding: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: middle; }
    .splash-logos-wrap .logo-wrap.two {
      width: 39%; }
    .splash-logos-wrap .logo-wrap img {
      margin: 0 auto; }

.navbar-menu {
  background-image: url(../img/bg-pattern-light.jpg);
  z-index: 20;
  top: 0;
  left: -220px;
  position: fixed;
  height: 100%;
  width: 220px;
  overflow-y: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .navbar-menu.open {
    left: 0;
    width: 220px;
    display: block; }
  .navbar-menu header {
    background-color: #FFF;
    border-bottom: 5px solid #67575f; }
    .navbar-menu header .universite-logo {
      display: inline-block;
      vertical-align: middle;
      width: 170px;
      padding: 15px; }
    .navbar-menu header .close-btn {
      background-image: url("../img/icons-set.png");
      background-repeat: no-repeat;
      background-position: -30px -90px;
      content: "";
      display: inline-block;
      height: 30px;
      vertical-align: middle;
      width: 30px;
      margin: 5px;
      cursor: pointer; }
  .navbar-menu .menu {
    padding: 0;
    margin: 0; }
  .navbar-menu .menu-item {
    width: 100%;
    text-align: right;
    padding-bottom: 25px; }
    .navbar-menu .menu-item .menu-item-icon {
      margin-left: 15px;
      display: inline-block;
      content: '';
      width: 50px;
      height: 50px;
      background-color: #df6138;
      vertical-align: middle; }
      .navbar-menu .menu-item .menu-item-icon .icon {
        display: block; }
    .navbar-menu .menu-item.one .menu-item-icon {
      background-color: #df6138; }
      .navbar-menu .menu-item.one .menu-item-icon .icon {
        margin: 10px  auto;
        background-position: 0 -120px; }
    .navbar-menu .menu-item.one .dropdown-menu {
      border-top: 2px solid #df6138; }
    .navbar-menu .menu-item.two .menu-item-icon {
      background-color: #ffb103; }
      .navbar-menu .menu-item.two .menu-item-icon .icon {
        margin: 10px  auto;
        background-position: -30px -120px; }
    .navbar-menu .menu-item.two .dropdown-menu {
      border-top: 2px solid #ffb103; }
    .navbar-menu .menu-item.three .menu-item-icon {
      background-color: #34c978; }
      .navbar-menu .menu-item.three .menu-item-icon .icon {
        margin: 10px  auto;
        background-position: 0 -150px; }
    .navbar-menu .menu-item.three .dropdown-menu {
      border-top: 2px solid #34c978; }
    .navbar-menu .menu-item.four .menu-item-icon {
      background-color: #45b2c9; }
      .navbar-menu .menu-item.four .menu-item-icon .icon {
        margin: 10px auto;
        background-position: -30px -150px; }
    .navbar-menu .menu-item.four .dropdown-menu {
      border-top: 2px solid #45b2c9; }
    .navbar-menu .menu-item a {
      color: #fff;
      display: block;
      text-decoration: none; }
    .navbar-menu .menu-item .dropdown-toggle {
      padding: 0;
      font-size: 0.9em;
      font-family: 'Exo', sans-serif;
      font-weight: 600; }
    .navbar-menu .menu-item .dropdown-menu {
      width: 100%;
      position: relative;
      background-color: rgba(255, 255, 255, 0.15);
      text-align: right;
      padding: 5px 10px; }
      .navbar-menu .menu-item .dropdown-menu li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
        .navbar-menu .menu-item .dropdown-menu li:last-child {
          border-bottom: none; }
        .navbar-menu .menu-item .dropdown-menu li a {
          padding: 4px;
          font-size: 0.8em; }

.main-navbar {
  background-color: transparent;
  background-image: url(../img/menu-pattern.jpg);
  padding: 12px 10px;
  color: #fff; }
  .main-navbar .navbar-menu-toggle {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding: 15px 10px;
    margin-right: 5%; }
    .main-navbar .navbar-menu-toggle .icon-bar {
      background-color: #93838b;
      display: block;
      height: 2px;
      width: 22px; }
      .main-navbar .navbar-menu-toggle .icon-bar + .icon-bar {
        margin-top: 4px; }
  .main-navbar .user-nav {
    display: inline-block;
    width: 79%; top:0; }
    .main-navbar .user-nav .contact-link {
      font-size: 1em;
      display: inline-block;
      max-width: 100px;
      vertical-align: middle;
      font-family: 'Exo', sans-serif;
      font-weight: 500; }
    .main-navbar .user-nav .user {
      max-width: 105px;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      padding-right: 15px;
      border-right: 1px solid #94848c; }
      .main-navbar .user-nav .user .welcome-msg {
        font-size: 0.7em;
        color: #998b92; }
      .main-navbar .user-nav .user .user-name {
        font-family: 'Exo', sans-serif;
        font-weight: 300;
        font-size: 1.4em;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1; }
    .main-navbar .user-nav .universite-name {
      color: #998b92;
      display: inline-block;
      vertical-align: middle;
      max-width: 35%;
      font-size: 0.7em;
      padding-left: 10px;
      line-height: 1.1; }
    .main-navbar .user-nav .notifications {
      margin-left: 15px;
      display: inline-block;
      vertical-align: middle;
      float: right;
      top:50%; position:relative; }
      .main-navbar .user-nav .notifications .icon {
        background-position: 0 -30px;
        position: relative; }
        .main-navbar .user-nav .notifications .icon .notifications-number {
          color: #fff;
          background-color: #f9032c;
          display: inline-block;
          font-size: 10px;
          height: 16px;
          line-height: 16px;
          padding-top: 1px;
          text-align: center;
          vertical-align: middle;
          width: 16px;
          bottom: 0;
          right: -2px;
          position: absolute;
          font-family: 'Exo', sans-serif;
          font-weight: 700;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          border-radius: 10px; }

.btn {
  line-height: 1;
  text-transform: uppercase; }
  .btn.confirm {
    background-color: #5fa22d;
    padding: 5px 25px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px; }

.button-wrap {
  width: 100%; }
  .button-wrap .add-more {
    font-size: 0.9em;
    background-color: #4d313f;
    width: 100%;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    text-transform: none; }
    .button-wrap .add-more .icon {
      background-position: -30px 0;
      margin-right: 8px; }

.user-info {
  padding: 15px; }
  .user-info .name {
    font-size: 1.8em;
    font-family: 'Exo', sans-serif;
    font-weight: 300; }
  .user-info .universite {
    font-family: 'Exo', sans-serif;
    font-weight: 300; }
  .user-info .edit-profil {
    color: #7b7177; }

.content-wrap.geo {
  min-height: 450px;
  position: relative; }

.main-container {
  position: relative; }

.category-wrap {
  position: relative;
  background-color: #a54078; }
  .category-one .category-wrap {
    background-color: #ffb103; }
  .category-two .category-wrap {
    background-color: #a54078; }
  .category-three .category-wrap {
    background-color: #34c978; }
  .category-wrap .list-wrap {
    bottom: 50px;
    position: absolute;
    display: none;
    z-index: 10; }
    .category-one .category-wrap .list-wrap {
      background-color: #ffb103; }
    .category-two .category-wrap .list-wrap {
      background-color: #a54078; }
    .category-three .category-wrap .list-wrap {
      background-color: #34c978; }
  .category-wrap.open .category-link.active {
    border-color: #858585; }

.category-nav-button {
  margin: 0; }

.show-category, .hide-category {
  padding-right: 15px;
  text-align: left;
  border-radius: 0;
  border: none;
  font-size: 1.1em;
  font-family: 'Exo', sans-serif;
  font-weight: 500; }
  .category-one .show-category, .category-one .hide-category {
    background-color: #ffb103; }
  .category-two .show-category, .category-two .hide-category {
    background-color: #a54078; }
  .category-three .show-category, .category-three .hide-category {
    background-color: #34c978;
    text-align: right; }
  .show-category .icon, .hide-category .icon {
    background-position: 0 -210px;
    margin-right: 10px; }
    .category-three .show-category .icon, .category-three .hide-category .icon {
      margin-left: 10px; }

.show-search {
  border-radius: 0;
  background-color: #1d9252;
  border: none; }
  .category-one .show-search {
    background-color: #d39202; }
  .category-two .show-search {
    background-color: #7f2456; }
  .category-three .show-search {
    background-color: #21a25c; }
  .show-search .icon {
    background-position: -30px -240px; }
    .category-three .show-search .icon {
      background-position: -60px -240px; }

.hide-category .icon {
  background-position: -30px -210px;
  margin-left: 10px; }

.category-nav-button.top {
  border-bottom: 2px solid #fff; }
.category-nav-button.bottom {
  border-top: 2px solid #fff; }

.category-buttons {
  margin: 0; }

.category-link {
  display: inline-block;
  text-align: center;
  padding: 9px;
  background-color: #9e9e9e;
  border: 1px solid #858585; }
  .category-link.one.active {
    background-color: #ffb103;
    border: none;
    transition: border-color 1s ease;
    border-top: 1px dashed transparent; }
  .category-link.one .icon {
    background-position: -60px 0; }
  .category-link.two.active {
    background-color: #a54078;
    border: none;
    transition: border-color 1s ease;
    border-top: 1px dashed transparent; }
  .category-link.two .icon {
    background-position: -60px -30px; }
  .category-link.three.active {
    background-color: #34c978;
    border: none;
    transition: border-color 1s ease;
    border-top: 1px dashed transparent; }
  .category-link.three .icon {
    background-position: -60px -60px; }

.show-search-long {
  color: #fff;
  border-radius: 0;
  border: none;
  border-top: 2px solid #34c978;
  background-color: #9e9e9e;
  font-size: 1.1em;
  width: 100%;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  position: absolute;
  bottom: 0; }
  .show-search-long .icon {
    background-position: -30px -240px; }
  .category-one .show-search-long {
    border-color: #ffb103; }
  .category-two .show-search-long {
    border-color: #a54078; }
  .category-three .show-search-long {
    border-color: #34c978; }

.category-list {
  list-style: none;
  padding-left: 0;
  margin: 0 auto; }
  .category-list .list-item {
    text-align: center;
    width: 33.333%;
    float: left;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle; }
  .category-list .category-btn {
    background-color: transparent;
    text-transform: none;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 0;
    min-height: 85px;
    padding: 2px; }
    .category-list .category-btn.active {
      background-color: #ddd; }
      .category-one .category-list .category-btn.active {
        background-color: #d39202; }
      .category-two .category-list .category-btn.active {
        background-color: #7f2456; }
      .category-three .category-list .category-btn.active {
        background-color: #21a25c; }
      .category-list .category-btn.active .icon {
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        border-radius: 25px;}
    .category-list .category-btn.button-2 .icon {
      background-position: -47px 0; }
    .category-list .category-btn.button-3 .icon {
      background-position: -94px 0; }
    .category-list .category-btn.button-4 .icon {
      background-position: 0 -47px; }
    .category-list .category-btn.button-5 .icon {
      background-position: -47px -47px; }
    .category-list .category-btn.button-6 .icon {
      background-position: -94px -47px; }
    .category-list .category-btn.button-7 .icon {
      background-position: 0 -94px; }
    .category-list .category-btn.button-8 .icon {
      background-position: -47px -94px; }
    .category-list .category-btn.button-9 .icon {
      background-position: -94px -94px; }
    .category-list .category-btn.button-10 .icon {
      background-position: 0 -141px; }
    .category-list .category-btn.button-11 .icon {
      background-position: -47px -141px; }
    .category-list .category-btn.button-12 .icon {
      background-position: -94px -141px; }
    .category-list .category-btn .icon {
      display: block;
      width: 47px;
      height: 47px;
      margin: 0 auto;
      background-image: url(../img/category-icons.png);
      background-repeat: no-repeat;
       content: initial; }
    .category-list .category-btn:focus span {
      color: #fff; }
    .category-list .category-btn span {
      margin-top: 2px;
      min-height: 22px;
      line-height: 1.1;
      display: block;
      font-size: 0.7em;
      text-align: center;
      width: 100%;
      white-space: initial;
      font-family: 'Exo', sans-serif;
      font-weight: 500; }

.search-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #913468;
  z-index: 20;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto; }
  .search-wrap .container {
    padding: 15px; }
  .search-wrap .search-field {
    color: #fff;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #a54078;
    border: none;
    border-radius: 0;
    box-shadow: none; }
    .search-wrap .search-field::-webkit-input-placeholder {
      color: #bf779f; }
    .search-wrap .search-field:-moz-placeholder {
      /* Firefox 18- */
      color: #bf779f; }
    .search-wrap .search-field::-moz-placeholder {
      /* Firefox 19+ */
      color: #bf779f; }
    .search-wrap .search-field:-ms-input-placeholder {
      color: #bf779f; }
  .search-wrap .search {
    position: relative; }
  .search-wrap .hide-search {
    position: absolute;
    top: 2px;
    right: 3px;
    padding: 0; }
    .search-wrap .hide-search .icon {
      background-position: 0 -240px; }
  .search-wrap .go-search {
    position: absolute;
    top: 2px;
    left: 3px;
    padding: 0; }
    .search-wrap .go-search .icon {
      background-position: -30px -180px; }

.search-results {
  background-color: #a54078;
  font-family: 'Exo', sans-serif;
  font-weight: 300; }
  .search-results .results-title {
    font-size: 0.8em;
    padding: 7px 15px;
    margin-bottom: 2px;
    border-bottom: 2px solid #913468; }
  .search-results .results-list {
    list-style: none;
    padding: 0 10px;
    margin-top: 0; }
  .search-results .list-item {
    padding: 7px;
    padding-left: 0;
    border-bottom: 2px solid #913468; }
    .search-results .list-item:last-child {
      border-bottom: none; }
    .search-results .list-item .title {
      font-size: 1em;
      display: inline-block;
      vertical-align: middle;
      width: 85%; }
    .search-results .list-item .icon {
      margin-right: 5px;
      background-position: -30px -240px; }

.show-add-poi {
  background-color: #df6138;
  width: 46px;
  height: 46px;
  position: absolute;
  right: 14px;
  top: 15px;
  transition: background-color 1s;
  padding: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .show-add-poi .icon {
    background-position: -30px 0; }
  .open .show-add-poi {
    background-color: #FFF; }

.hide-add-poi {
  background-color: #34c978;
  width: 44px;
  height: 44px;
  right: 15px;
  top: -22px;
  position: absolute;
  padding: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  .hide-add-poi .icon {
    background-position: 0 -240px; }

.add-poi-screen {
  margin-top: 17px;
  border-top: 2px solid #fff;
  display: none;
  position: absolute;
  top: 20px;
  bottom: 0;
  width: 100%;
  z-index: 10; }
  .category-one .add-poi-screen {
    background-color: #ffb103; }
  .category-two .add-poi-screen {
    background-color: #a54078; }
  .category-three .add-poi-screen {
    background-color: #34c978; }
  .add-poi-screen .title {
    text-align: center;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-family: 'Exo', sans-serif;
    font-weight: 500; }

form.add-poi .form-pad {
  padding: 5px 10px; }
form.add-poi .form-group.category {
  display: inline-block;
  position: relative;
  top: -75px;
  margin-bottom: 0; }
  form.add-poi .form-group.category select {
    padding: 0; }
form.add-poi .form-control {
  border: none; }
form.add-poi .form-group.name {
  margin-top: 10px;
  margin-bottom: 10px; }
  form.add-poi .form-group.name input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
form.add-poi .customSelect {
  color: #8e8e8e;
  font-size: 9px;
  height: 80px;
  padding: 29px 1px 0;
  text-align: center;
  width: 80px;
  line-height: 1.2;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px; }
  form.add-poi .customSelect:after {
    background-image: none;
    content: initial; }
  form.add-poi .customSelect .customSelectInner {
    width: 80px !important; }
form.add-poi .add-poi-name-field {
  background-color: #21a25c; }
form.add-poi .address, form.add-poi .phone, form.add-poi .email {
  margin-bottom: 5px; }
  form.add-poi .address input, form.add-poi .phone input, form.add-poi .email input {
    display: inline-block;
    width: 88%;
    height: 25px;
    font-size: 0.8em;
    padding: 3px 10px;
    line-height: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
form.add-poi .message textarea {
  font-size: 0.8em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
form.add-poi .form-info p {
  margin-top: 0;
  color: #004e24;
  font-size: 0.8em;
  font-style: italic;
  font-family: 'Exo', sans-serif;
  font-weight: 200; }
form.add-poi .confirm {
  position: absolute;
  bottom: 0;
  background-color: #df6138;
  width: 100%;
  padding: 10px;
  border-top: 2px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: 'Exo', sans-serif;
  font-weight: 500; }

.poi-wrap {
  bottom: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 15px; }
  .poi-wrap.qr-code {
    top: 50%;
    min-height: auto; }

.poi-screen {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  min-height: 100%;
  background-color: #FFF; }
  .poi-screen .poi-header {
    position: relative; }
    .category-one .poi-screen .poi-header {
      background-color: #d39202; }
    .category-two .poi-screen .poi-header {
      background-color: #7f2456; }
    .category-three .poi-screen .poi-header {
      background-color: #21a25c; }
  .poi-screen .category-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: -5px;
    left: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px; }
    .category-one .poi-screen .category-icon {
      background-color: #d39202; }
    .category-two .poi-screen .category-icon {
      background-color: #a66689; }
    .category-three .poi-screen .category-icon {
      background-color: #64be8d; }
    .poi-screen .category-icon .icon {
      display: inline-block;
      width: 47px;
      height: 47px;
      margin: 0 auto;
      background-image: url(../img/category-icons.png);
      background-repeat: no-repeat; }
    .poi-screen .category-icon.category-1 .icon {
      background-position: 0 0; }
    .poi-screen .category-icon.category-2 .icon {
      background-position: -47px 0; }
    .poi-screen .category-icon.category-3 .icon {
      background-position: -94px 0; }
    .poi-screen .category-icon.category-4 .icon {
      background-position: 0 -47px; }
    .poi-screen .category-icon.category-5 .icon {
      background-position: -47px -47px; }
    .poi-screen .category-icon.category-6 .icon {
      background-position: -94px -47px; }
    .poi-screen .category-icon.category-7 .icon {
      background-position: 0 -94px; }
    .poi-screen .category-icon.category-8 .icon {
      background-position: -47px -94px; }
    .poi-screen .category-icon.category-9 .icon {
      background-position: -94px -94px; }
    .poi-screen .category-icon.category-10 .icon {
      background-position: 0 -141px; }
    .poi-screen .category-icon.category-11 .icon {
      background-position: -47px -141px; }
    .poi-screen .category-icon.category-12 .icon {
      background-position: -94px -141px; }
  .poi-screen .hide-poi {
    padding: 0;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
    margin-top: 3px; }
    .poi-screen .hide-poi .icon {
      background-position: 0 -240px; }
  .poi-screen .title {
    padding-left: 60px;
    width: 85%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: 'Exo', sans-serif;
    font-weight: 500; }
  .poi-screen .poi-info {
    padding: 10px;
    padding-left: 70px;
    padding-right: 20px; }
    .category-one .poi-screen .poi-info {
      background-color: #ffb103; }
    .category-two .poi-screen .poi-info {
      background-color: #a54078; }
    .category-three .poi-screen .poi-info {
      background-color: #34c978; }
    .poi-screen .poi-info address, .poi-screen .poi-info .phone, .poi-screen .poi-info .email {
      margin-bottom: 7px;
      font-style: normal;
      line-height: 1;
      font-size: 0.7em;
      font-family: 'Exo', sans-serif;
      font-weight: 600; }
      .poi-screen .poi-info address .fa, .poi-screen .poi-info .phone .fa, .poi-screen .poi-info .email .fa {
        margin-right: 5px; }
  .poi-screen .tabpanel {
    margin-top: -30px; }
  .poi-screen .tab-content {
    padding: 10px 0 0;
    color: #000;
    background-color: #FFF;
    font-size: 0.9em;
    font-family: 'Exo', sans-serif;
    font-weight: 500; }
    .qr-code .poi-screen .tab-content {
      min-height: auto; }
    .poi-screen .tab-content .body {
      padding: 10px 15px 40px;
      overflow: auto; }
      .qr-code .poi-screen .tab-content .body {
        height: 200px; }
    .poi-screen .tab-content p {
      font-family: 'Exo', sans-serif;
      font-weight: 500; }
    .poi-screen .tab-content h2 {
      font-size: 1em;
      font-weight: 500; }
    .poi-screen .tab-content ul {
      padding-left: 15px; }
    .poi-screen .tab-content li {
      margin-bottom: 10px;
      font-size: 0.9em; }
  .poi-screen .nav-tabs {
    margin-top: 0; }
    .poi-screen .nav-tabs li.three {
      float: right; }
    .poi-screen .nav-tabs a {
      color: #fff;
      background-color: #df6138;
      margin: 0;
      padding: 2px 10px;
      font-size: 11px; }
      .poi-screen .nav-tabs a:hover, .poi-screen .nav-tabs a:focus {
        background-color: #df6138; }
    .poi-screen .nav-tabs .active a {
      color: #df6138; }
  .poi-screen #comments .comments-list {
    list-style: none;
    padding: 10px 15px;
    padding-bottom: 194px;
    margin-bottom: 15px;
    margin-top: 0; }
  .poi-screen .comment-item .author {
    display: inline-block;
    font-family: 'Exo', sans-serif;
    font-weight: 600; }
    .category-one .poi-screen .comment-item .author {
      color: #d39202; }
    .category-two .poi-screen .comment-item .author {
      color: #7f2456; }
    .category-three .poi-screen .comment-item .author {
      color: #21a25c; }
  .poi-screen .comment-item time {
    display: inline-block;
    width: auto;
    color: #7a7a7a; }
  .poi-screen .comment-item .comment-text {
    margin-top: 0;
    font-family: 'Exo', sans-serif;
    font-weight: 500; }
  .poi-screen .comment-field {
    padding: 15px 5px 5px;
    margin: 0 10px; }
    .category-one .poi-screen .comment-field {
      background-color: #ffb103; }
    .category-two .poi-screen .comment-field {
      background-color: #a54078; }
    .category-three .poi-screen .comment-field {
      background-color: #34c978; }
  .poi-screen .submit {
    background-color: #df6138; }
    .category-one .poi-screen .submit {
      border-color: #ffb103; }
    .category-two .poi-screen .submit {
      border-color: #a54078; }
    .category-three .poi-screen .submit {
      border-color: #34c978; }

.long-button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #9e9e9e;
  border-color: #34c978 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-radius: 0;
  border-right: medium none;
  border-style: solid none none;
  border-width: 2px medium medium;
  color: #fff;
  font-family: "Exo",sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  height: 40px;
  line-height: 1; }

.new-comment-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFF; }

.universite-login-wrap {
  padding: 0 15px; }
  .universite-login-wrap .form-group {
    margin: 15px 0; }
  .universite-login-wrap .confirm {
    margin-top: 25px;
    padding: 7px 25px;
    background-color: #913468;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

.logo-wrap {
  padding: 15% 25%; }

.form-title {
  width: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  border-bottom: 1px solid #5e5057;
  padding-bottom: 10px;
  font-family: 'Exo', sans-serif;
  font-weight: 600; }

.back-to-geo {
  width: 100%;
  background-color: #df6138;
  height: auto;
  padding: 5px;
  position: absolute;
  bottom: 0; }
  .category-one .back-to-geo {
    border-color: #ffb103; }
  .category-two .back-to-geo {
    border-color: #a54078; }
  .category-three .back-to-geo {
    border-color: #34c978; }
  .back-to-geo .icon {
    background-position: -30px -182px; }

.hide-universite-change {
  background-color: transparent;
  display: inline-block;
  float: right;
  padding: 0;
  vertical-align: middle;
  margin-top: 2px; }
  .hide-universite-change .icon {
    background-position: 0 -240px; }

.universite-list-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 20px; }
  .universite-list-wrap .universite-change-screen {
    position: relative;
    min-height: 100%;
    background-color: #913468;
    padding: 5px 10px; }
  .universite-list-wrap .screen-header {
    margin-bottom: 2px; }
  .universite-list-wrap .screen-title {
    display: inline-block;
    max-width: 85%;
    vertical-align: middle;
    color: #C17BA2;
    padding: 5px 15px; }
    .universite-list-wrap .screen-title .icon {
      background-position: -60px -270px; }
  .universite-list-wrap .info-title {
    color: #C17BA2;
    padding: 10px 15px; }
  .universite-list-wrap .current-univesite {
    background-color: #a54078;
    padding: 12px 15px;
    font-size: 0.9em; }
  .universite-list-wrap .universite--list {
    background-color: #a54078;
    list-style: outside none none;
    margin-top: 0;
    padding: 0 15px; }
    .universite-list-wrap .universite--list .list-item {
      border-bottom: 2px solid #913468;
      padding: 10px 7px 10px 0;
      cursor: pointer; }
      .universite-list-wrap .universite--list .list-item:last-child {
        border-bottom: medium none; }

.user-nav div.notifications a { top:-50%; position:relative;}